@{
    ViewBag.Title = Html.Raw(".: TF - Administración de la Información :.");
}

<div class="page-header">
    <h1>Dashboard <small>Administraci&oacute;n de la Informaci&oacute;n</small></h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#panelCBP" aria-controls="panelCBP" role="tab" data-toggle="tab" data-url="@Url.Action("ConsolidadoBarrasPrincipales")" >Consolidado Barras Principales</a>
            </li>
            <li role="presentation">
                <a href="#panelCBS" aria-controls="panelCBS" role="tab" data-toggle="tab" data-url="@Url.Action("ConsolidadoBarrasSecundarias")">Consolidado Barras Secundarias</a>
            </li>
            <li role="presentation">
                <a href="#panelCCC" aria-controls="panelCCC" role="tab" data-toggle="tab" data-url="@Url.Action("ConsolidadoCentroCostos")">Consolidado Centro Costos</a>
            </li>
        </ul>

        <div class="tab-content" style="padding-top:30px;">
            <div role="tabpanel" class="row tab-pane fade in active" id="panelCBP">@Html.Action("ConsolidadoBarrasPrincipales")</div>
            <div role="tabpanel" class="row tab-pane fade" id="panelCBS"></div>
            <div role="tabpanel" class="row tab-pane fade" id="panelCCC"></div>
        </div>       
    </div>
</div>

<script>
    $('a[role="tab"]').click(function () {

        var url = $(this).attr('data-url');
        var target = $(this).attr('href');

        $('[role="tabpanel"]').removeClass('in');
        $('[role="tabpanel"]').removeClass('active');

        $.ajax({
            url: url,
            cache: false,
            success: function (html) {
                $(target).html(html);
                $(target).addClass('in');
                $(target).addClass('active');
            }
        });
    });
</script>
